<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mx-auto text-center">
        {%- if site.github_username -%}
        <p>
          <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg></a>
        </p>
        {%- endif -%}
        {%- if site.email -%}
        <p>
          <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>
