---
layout: default
---

<div class="home cover-container">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto text-center">
        <h1>Hi!</h1>
        <p>I'm Adam; a full stack web developer, based in <a href="https://www.google.co.uk/maps/place/Newcastle+upon+Tyne" target="_blank">Newcastle upon Tyne</a></p>
        <a class="btn btn-outline-light" href="{{ "about" | relative_url }}">About Me</a>
      </div>
    </div>
  </div>
</div>
{%- if site.posts.size > 0 -%}
{%- include blog_carousel.html -%}
{%- endif -%}
