---
layout: default
---
{% if page.jumbotron %}
<header class="post-header jumbotron">
  <div class="container">
    <h1 class="post-title p-name" itemprop="name headline">
      {% if page.header %}
      {{ page.header | escape }}
      {% else %}
      {{ page.title | escape }}
      {% endif %}
    </h1>
    <p class="post-meta">
      {{ page.subtitle | escape }}
    </p>
  </div>
</header>
{% endif %}
<article class="post container">
  <div class="row">
    <div class="post-content col-lg-8 col-md-10 mx-auto">
      {{ content }}
    </div>
  </div>
</article>
